@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

body {
  background-image: url(/img/imagens/FUNDO\ LARANJA.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
  height: 70px; 
}

header .logo {
  max-height: 150px; 
}

nav ul {
  list-style: none;
  display: flex;
  gap: 100px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.5s, border-bottom 0.5s;
}

nav ul li a:hover {
  color: orange;
  border-bottom: 2px solid orangered;
}

.login-btn {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}

.login-btn:hover {
  background-color: darkblue;
  transform: scale(1.1);
}

main {
  flex: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.simulados-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
  width: 100%;
  text-align: center;
  color: white;
}

.simulados-content img{
  width: 25%;
  height: 25%;
}

.simulados-content h1 {
  font-size: 60px;
  margin-bottom: 20px;
  font-family: "Ubuntu Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.simulados-content p {
  font-size: 24px;
  margin-bottom: 40px;
  font-family: "Caveat", cursive;
}

.simulados-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.simulado-link {
  display: block;
  background-color: orange;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}

.simulado-link:hover {
  background-color: darkorange;
  transform: scale(1.05);
}

.imagem-simulados {
  width: 40%;
  height: auto;
  margin-left: 20px;
  margin-top: -50px; /* Ajuste de margem superior para alinhar a imagem */
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box; 
}

footer .logo {
  height: 100px; 
  width: auto; 
}

.footer-text {
  text-align: center;
}

.footer-text p {
  margin: 5px 0;
}

footer .canto-inferior-direito {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.canto-inferior-direito .certificacoes {
  padding-top: 20px;
}

.social-media {
  display: flex;
  gap: 20px; 
}

.social-media img {
  height: 40px; 
  width: auto; 
  margin-left: 10px;
}
