
body {
    background-color: #FFF176; /* Amarelo suave */
    color: #424242; /* Cinza escuro para o texto */
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 100px;
    background-color: #FFF; /* Fundo branco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #FFB74D; /* Laranja */
    margin-bottom: 20px;
}

h2 {
    font-size: 21px;
    margin-bottom: 20px;
}

ol {
    list-style-type: none;
    counter-reset: question-counter;
    padding: 0;
}

li {
    counter-increment: question-counter;
    margin-bottom: 20px;
    border-bottom: 1px solid #E0E0E0; /* Linha cinza clara entre perguntas */
    padding-bottom: 10px;
}

li:last-child {
    border-bottom: none; /* Remover a linha na última pergunta */
}

li:before {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li:before {
    content: "";
}

ul li:not(:last-child):after {
    content: " ";
}

ul li:last-child:after {
    content: "";
}

.answer {
    margin-top: 15px;
    font-weight: bold;
}

.answer.correta {
    color: #388E3C; /* Verde para respostas corretas */
}

.answer.incorreta {
    color: #D32F2F; /* Vermelho para respostas incorretas */
}

.correta {
    color: green;
}

.incorreta {
    color: red;
}

.aprovado {
    color: green;
}

.reprovado {
    color: red;
}
