@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.text-content h1 {
  font-size: 70px;
  text-align: center;
  font-family: "Ubuntu Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #fff;
}

.text-content p {
  font-size: 26px;
  font-family: "Caveat", cursive;
  text-align: center;
  color: #fff;
}

.imagem-one {
  width: 56%;
  height: auto;
  position: relative;
  z-index: 1;
  margin-top: 0;
}

.team {
  padding: 50px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); /* Adaptação para combinar com o estilo geral */
}

.team h2 {
  margin-bottom: 20px;
  color: #fff; /* Harmonizando com o esquema de cores */
  font-size: 40px;
  font-family: "Ubuntu Sans", sans-serif;
  font-weight: bold;
}

.team-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-member {
  margin: 15px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.team-member:hover {
  transform: scale(1.1);
}

.team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.team-member p {
  margin-top: 10px;
  color: #fff; /* Harmonizando com o esquema de cores */
  font-size: 20px;
  font-family: "Caveat", cursive;
}

.team-member .link-icon {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}



/* Media queries para telas pequenas */
@media (max-width: 768px) {
  nav ul {
    display: none; /* Oculta o menu de navegação padrão em telas pequenas */
  }

  .menu-toggle {
    display: block; /* Exibe o botão do menu hamburger em telas pequenas */
  }

  .mobile-menu {
    display: none; /* Oculta o menu mobile por padrão */
  }

  .mobile-menu.active {
    display: block; /* Exibe o menu mobile quando a classe 'active' é adicionada */
  }

  .content {
    flex-direction: column;
  }
}

