@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

body {
  background-image: url(/img/imagens/FUNDO\ LARANJA.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

header .logo {
  max-height: 100px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.5s, border-bottom 0.5s;
}

nav ul li a:hover {
  color: orange;
  border-bottom: 2px solid orangered;
}

.login-btn {
  background-color: darkblue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 50px;
}

.login-btn:hover {
  background-color: darkblue;
  transform: scale(1.1);
}

main {
  flex: 1;
  padding: 20px;
  margin-top: 70px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.text-content h1 {
  font-size: 70px;
  margin: 60px;
  text-align: center;
  font-family: "Ubuntu Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #fff;
}

.text-content p {
  font-size: 26px;
  font-family: "Caveat", cursive;
  text-align: center;
  color: #fff;
  padding: 50px;
  margin-top: -50px;
}

.imagem-one {
  width: 56%;
  height: auto;
  margin-left: -70px;
  position: relative;
  z-index: 1;
  margin-top: 0;
}

.team {
  padding: 50px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); /* Adaptação para combinar com o estilo geral */
}

.team h2 {
  margin-bottom: 20px;
  color: #fff; /* Harmonizando com o esquema de cores */
  font-size: 40px;
  font-family: "Ubuntu Sans", sans-serif;
  font-weight: bold;
}

.team-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-member {
  margin: 15px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.team-member:hover {
  transform: scale(1.1);
}

.team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.team-member p {
  margin-top: 10px;
  color: #fff; /* Harmonizando com o esquema de cores */
  font-size: 20px;
  font-family: "Caveat", cursive;
}

.team-member .link-icon {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box; 
}

footer .logo {
  height: 300px;
  width: auto;
}

.footer-text {
  text-align: center;
}

.footer-text p {
  margin: 5px 0;
}

.footer .canto-inferior-direito {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.canto-inferior-direito .certificacoes {
  padding-top: 20px;
}

.social-media {
  display: flex;
  gap: 20px;
}

.social-media img {
  height: 40px;
  width: auto;
  margin-left: 10px;
}

/* Media queries para telas pequenas */
@media (max-width: 768px) {
  nav ul {
    display: none; /* Oculta o menu de navegação padrão em telas pequenas */
  }

  .menu-toggle {
    display: block; /* Exibe o botão do menu hamburger em telas pequenas */
  }

  .mobile-menu {
    display: none; /* Oculta o menu mobile por padrão */
  }

  .mobile-menu.active {
    display: block; /* Exibe o menu mobile quando a classe 'active' é adicionada */
  }
}

@media (max-width: 480px) {
  .text-content h1 {
    font-size: 50px; /* Ajusta o tamanho do título para telas menores */
    margin: 30px;
  }

  .text-content p {
    font-size: 20px; /* Ajusta o tamanho do texto para telas menores */
    padding: 50px;
    margin-top: -100px;
  }

  .imagem-one {
    width: 80%; /* Ajusta a largura da imagem para telas menores */
    margin-left: 0;
  }

  .team h2 {
    font-size: 30px;
  }

  .team-member img {
    width: 120px;
    height: 120px;
  }

  .team-member p {
    font-size: 18px;
  }
}
