@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-image: url(/img/imagens/FUNDO\ LARANJA.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
  height: 70px; 
}

header .logo {
  max-height: 100px; 
}

nav ul {
  list-style: none;
  display: flex;
  gap: 100px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.5s, border-bottom 0.5s;
}

nav ul li a:hover {
  color: orange;
  border-bottom: 2px solid orangered;
}

.login-btn {
  background-color: darkblue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 15px;
}

.login-btn:hover {
  background-color: darkblue;
  transform: scale(1.1);
}

main {
  flex: 1;
  padding: 20px;
}

.details-content {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adiciona espaço entre os detalhes */
}

details {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

summary {
  font-weight: bold;
  cursor: pointer;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.mapa_mental {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
}

.mapa_mental a {
  color: white;
  text-decoration: none;
}

/* Estilo para a imagem principal */
.imagem-principal {
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Ajustes específicos para o footer */
footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

footer .logo {
  height: 100px;
  width: auto;
}

.footer-text {
  text-align: center;
}

.footer-text p {
  margin: 5px 0;
}

.footer .canto-inferior-direito {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canto-inferior-direito .certificacoes {
  padding-top: 20px;
}

.social-media {
  display: flex;
  gap: 20px;
}

.social-media img {
  height: 40px;
  width: auto;
}
