@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.text-content h1 {
  font-size: 70px;
  margin: 60px;
  text-align: center;
  font-family: "Ubuntu Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #fff;
}

.text-content p {
  font-size: 26px;
  font-family: "Caveat", system-ui;
  text-align: center;
  color: #fff;
}

.imagem-one {
  width: 40vw;
  height: auto;
  z-index: 1;
}

/* Media queries para telas pequenas */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  
  .imagem-one {
    width: 70vw;
  }

  .text-content h1 {
    font-size: 50px;
  }
  
}