@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

.cascatas {
  margin-left: 2vw;
  width: 96vw;
}

.imagem-one {
  width: 56%;
  height: auto;
  margin-left: -70px;
  position: relative;
  z-index: 1;
  margin-top: -250px;
}

details {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

summary {
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.mapa_mental {
  color: #f0f0f0;
  padding: auto;
  margin-top: auto;
  padding: auto;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}